.formContainer {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  
  .formTitle {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .addButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  